.tc-main-graph {
  position: relative;
}

.tc-slider,
.tc-slider * {
  box-sizing: border-box;
}

.tc-slider {
  height: 50px;
  position: relative;
  margin-top: 10px;
  overflow: hidden;
}

.tc-slider canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.tc-slider-cover {
  background-color: #c0dcea;
  opacity: 0.2;
  position: absolute;
  top: 0;
  height: 100%;
}

.tc-slider-window {
  position: absolute;
  top: 0;
  height: 100%;
  border-color: rgba(192, 220, 234, 0.62);
  border-style: solid;
  border-width: 1px 4px;
}

.tc-slider-handle {
  position: absolute;
  top: 0;
  height: 100%;
  width: 30px;
  margin-left: -15px;
}

.tc-popup {
  position: absolute;
  top: 10px;
  padding: 7px 12px;
  border-radius: 3px;
  background: white;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.24);
  min-width: 100px;
  max-width: 40%;
  pointer-events: none;
}

.tc-popup-date {
  font-size: 14px;
  margin-bottom: 3px;
}

.tc-popup-values {
  display: flex;
  position: relative;
  flex-wrap: wrap;
}

.tc-popup-value {
  display: inline-block;
  font-size: 12px;
  margin-top: 6px;
  flex: 1 1 50%;
}

.tc-popup-value div {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 3px;
}
