.tc-main-graph {
  position: relative;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  padding: 0 15px;
  margin: 0 -15px;
}

.tc-main-graph-title {
  position: absolute;
  top: 0;
  left: 20px;
  width: calc(100% - 40px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}
.tc-main-graph-title.tc-dark {
  color: white;
}

.tc-slider,
.tc-slider * {
  box-sizing: border-box;
}

.tc-slider {
  height: 50px;
  position: relative;
  margin-top: 10px;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

.tc-slider canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.tc-slider-cover {
  background-color: #f5f9fc;
  opacity: 0.7;
  position: absolute;
  top: 0;
  height: 100%;
}
.tc-dark .tc-slider-cover {
  background-color: #1f2a37;
  opacity: 0.7;
}

.tc-slider-window {
  position: absolute;
  top: 0;
  height: 100%;
  border-color: rgba(192, 220, 234, 0.62);
  border-style: solid;
  border-width: 1px 4px;
}
.tc-dark .tc-slider-window {
  border-color: rgba(255, 255, 255, 0.15);
}

.tc-slider-handle {
  position: absolute;
  top: 0;
  height: 100%;
  width: 30px;
  margin-left: -15px;
}

.tc-popup {
  position: absolute;
  top: 30px;
  padding: 7px 12px;
  border-radius: 3px;
  background: white;
  color: black;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.24);
  min-width: 100px;
  max-width: 40%;
  pointer-events: none;
  transition: opacity 0.2s ease, left 0.1s ease, top 0.1s ease;
}
.tc-popup.tc-dark {
  background: rgb(36, 47, 62);
  color: white;
}

.tc-popup-date {
  font-size: 14px;
  margin-bottom: 3px;
}

.tc-popup-values {
  display: flex;
  position: relative;
  flex-wrap: wrap;
}

.tc-popup-value {
  display: inline-block;
  font-size: 12px;
  margin-top: 6px;
  margin-right: 1%;
  flex: 1 1 48%;
}

.tc-popup-value div {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 3px;
}

.tc-togglers {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 5px;
  margin-bottom: 15px;
}

@keyframes toggler-point {
  0% {
    transform: scale(1);
    opacity: 0;
    border-width: 10px;
  }
  20% {
    opacity: 0.3;
  }
  100% {
    transform: scale(3);
    opacity: 0;
    border-width: 3px;
  }
}

@keyframes toggler {
  0% {
    opacity: 0;
    transform: scaleX(0);
  }
  20% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
    transform: scaleX(1);
  }
}

.tc-toggler {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  border: 1px solid #e6ecf0;
  padding: 6px 14px 6px 6px;
  border-radius: 100px;
  margin-right: 15px;
  margin-top: 10px;
  cursor: pointer;
  color: #43484b;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  position: relative;
}
.tc-toggler.tc-dark {
  border-color: rgba(255, 255, 255, 0.2);
  color: white;
}
.tc-toggler:after,
.tc-toggler:before {
  content: " ";
  position: absolute;
  top: 0;
  left: 10px;
  width: 100%;
  height: 100%;
  margin-left: -10px;
  background: linear-gradient(to right, rgba(173, 193, 224, 0), #adc1e0);
  animation-name: toggler;
  animation-duration: 0.5s;
  transform-origin: 15px 50%;
  border-radius: 100px;
  opacity: 0;
  display: none;
}
.tc-dark.tc-toggler:after,
.tc-dark.tc-toggler:before {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.5)
  );
}
:not(.tc-toggler--active).tc-toggler--manual.tc-toggler:before {
  display: block;
}
.tc-toggler--active.tc-toggler--manual.tc-toggler:after {
  display: block;
}

.tc-toggler-point {
  box-sizing: border-box;
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  border-width: 1px;
  border-style: solid;
  position: relative;
  margin-right: 10px;
  transition: border 0.2s ease;
}
.tc-toggler--active .tc-toggler-point {
  border-width: 10px;
}
.tc-toggler-point:after,
.tc-toggler-point:before {
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -10px;
  margin-left: -10px;
  width: 20px;
  height: 20px;
  border: 10px solid #adc1e0;
  content: " ";
  border-radius: 20px;
  animation-name: toggler-point;
  animation-delay: 0;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  opacity: 0;
  display: none;
}
.tc-toggler--active .tc-toggler-point:after,
.tc-toggler--active .tc-toggler-point:before {
  margin-top: -10px;
  margin-left: -10px;
}
.tc-dark .tc-toggler-point:after,
.tc-dark .tc-toggler-point:before {
  border-color: #fff;
}
:not(.tc-toggler--active).tc-toggler--manual .tc-toggler-point:before {
  display: block;
}
.tc-toggler--active.tc-toggler--manual .tc-toggler-point:after {
  display: block;
}

.tc-toggler-point img {
  width: 11px;
  height: 9px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -5px;
  margin-top: -4px;
  opacity: 0;
  transform: scale(0);
  transition: transform 0.2s ease, opacity 0.2s ease;
}
.tc-toggler--active .tc-toggler-point img {
  opacity: 1;
  transform: scale(1);
}
