body,
html {
  font-family: "Roboto", sans-serif, arial;
  font-size: 14px;
  padding: 0;
  margin: 10px 0 0;
  text-align: center;
}

body,
* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body.dark {
  background-color: rgb(36, 47, 62);
}

.chart {
  margin: 0 15px 25px;
  text-align: left;
}

#container {
  max-width: 700px;
  margin: 5px auto 10px;
}

#mode-link {
  height: 50px;
  line-height: 50px;
  margin: 10px 0;
  cursor: pointer;
  color: #108be3;
  font-size: 16px;
}

.github {
  position: absolute;
  top: 0;
  right: 0;
}

.footer {
  color: #777;
  padding: 10px 0 20px;
}
.footer a {
  color: #777;
}

.dark .footer,
.dark .footer a {
  color: rgba(255, 255, 255, 0.4) !important;
}
